%h2.m-4 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field.block.text-orange.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true
  .field.block.text-orange.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = f.label :email
    %br/
    = f.email_field :email, autocomplete: "email"
  .field.block.text-orange.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field.block.border-solid.m-2.text-orange.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions.block.text-orange.mt-3.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = f.submit "Sign up"
