= form_with model: @task, remote: false do |form|
    .field.block.text-orange.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4   
        = form.label :title
        = form.text_field :title
    %br
    .field.block.text-orange.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
        = form.label :description
        = form.text_area :description
    %br
    .field.block.text-orange.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
        = form.label :budget
        = form.text_field :budget
    %br
    .field.block.text-orange.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
        = form.label :location
        = form.text_field :location
    %br
    .field.block.text-orange.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
        = form.submit 'Post Task'