%h2.m-4= @task.title
%p= @task.description
%p.mt-4 Where: #{@task.location}
%p.mt-2 Budget: #{@task.budget} SEK
%p#state.m-4 Status: #{@task.state.titleize}

= link_to "Let's do it", task_path(@task, event: :receive_bid), method: :put, remote: true, id: 'lets-do-it'
= link_to "Send Counter offer", '#'




